services:
  tinyauth:
      image: ghcr.io/steveiliop56/tinyauth:v4
      container_name: tinyauth
      restart: unless-stopped
      networks:
         - proxy

      environment:
        - APP_URL=${APP_URL}
        - USERS=${USERS}
        - PROVIDERS_GOOGLE_CLIENT_ID=${PROVIDERS_GOOGLE_CLIENT_ID}
        - PROVIDERS_GOOGLE_CLIENT_SECRET=${PROVIDERS_GOOGLE_CLIENT_SECRET}
        - OAUTH_WHITELIST=${OAUTH_WHITELIST}
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.tinyauth.rule=Host(`tinyauth.dylan-novo.ovh`)"
        - "traefik.http.middlewares.tinyauth.forwardauth.address=http://tinyauth:3000/api/auth/traefik"
        - "traefik.http.routers.tinyauth.entrypoints=websecure"
        - "traefik.http.routers.tinyauth.tls=true"
        - "traefik.http.services.tinyauth.loadbalancer.server.port=3000"

  traefik:
    image: "traefik:v3.6"
    container_name: "traefik"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    command:
      - "--log.level=DEBUG"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=proxy"
      - "--entryPoints.web.address=:80"
      - "--entryPoints.websecure.address=:443" 
      - "--api.dashboard=true"
      - "--providers.file.filename=/dynamic.yml"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.service=api@internal"
      - "traefik.http.routers.api.rule=Host(`traefik.dylan-novo.ovh`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.routers.api.middlewares=tinyauth"

    ports:
      - "80:80"
      - "443:443"
      
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/etc/letsencrypt:/etc/letsencrypt:ro"
      - "./dynamic/tls.yml:/dynamic.yml:ro"

networks:
  proxy:
    external: true