name: Deployment Workflow

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  Deploy-Docker-Infra:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy on remote server
        uses: appleboy/ssh-action@v1.2.0
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

          TRAEFIK_USER: ${{ secrets.TRAEFIK_USERS }}
          TRAEFIK_ID: ${{ secrets.TRAEFIK_PROVIDERS_GOOGLE_CLIENT_ID }}
          TRAEFIK_SECRET: ${{ secrets.TRAEFIK_PROVIDERS_GOOGLE_CLIENT_SECRET }}
          TRAEFIK_OAUTH_WHITELIST: ${{ secrets.TRAEFIK_OAUTH_WHITELIST }}
          TRAEFIK_APP_URL: ${{ secrets.TRAEFIK_APP_URL }}

        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}

          # IMPORTANT: envoyer les variables qui existent réellement
          envs: GH_TOKEN,TRAEFIK_USER,TRAEFIK_ID,TRAEFIK_SECRET,TRAEFIK_OAUTH_WHITELIST,TRAEFIK_APP_URL

          script: |
            set -e

            rm -rf Serveur-Internet-Sample-Project || true
            git clone https://$GH_TOKEN@github.com/DylanNovo/Serveur-Internet-Sample-Project.git

            # copie TOUT srv/ (traefik + tasklist + etc)
            sudo mkdir -p /root/srv
            sudo rsync -av Serveur-Internet-Sample-Project/srv/ /root/srv/

            rm -rf Serveur-Internet-Sample-Project

            # Ecrire le .env pour Traefik (expansion OK)
            cd /root/srv/traefik
            cat > .env <<EOF
            USERS=${TRAEFIK_USER}
            PROVIDERS_GOOGLE_CLIENT_ID=${TRAEFIK_ID}
            PROVIDERS_GOOGLE_CLIENT_SECRET=${TRAEFIK_SECRET}
            OAUTH_WHITELIST=${TRAEFIK_OAUTH_WHITELIST}
            APP_URL=${TRAEFIK_APP_URL}
            EOF

            # Déployer
            sudo docker compose up -d --force-recreate
